<style>
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
  }

  .service-cable-management-head-top-content p:first-of-type {
    margin-bottom: 28px;
  }

  .service-layout {
    max-width: 1520px;
    margin: 0 auto;
  }

  .service-cable-management h2 {
    color: #0056b3;
  }
  .service-cable-management ul {
    margin: 16px 0;
    padding-left: 0;
  }
  .service-cable-management ul li {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .service-cable-management-hightlight {
    font-weight: 600;
  }

  .service-cable-management-header {
    display: flex;
    align-items: start !important;
    width: 100%;
    padding: 20px 0;
  }

  .service-cable-management-header a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000de;
  }

  .service-cable-management-head-top {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    padding: 0 0 40px 0;
  }

  .service-cable-management-head-top h1 {
    color: #0d0d0d;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }

  .service-cable-management-head-top-content {
    width: 100%;
    max-width: 1032px;
    padding-top: 24px;
  }

  .service-cable-management-head-top-content p {
    color: #0d0d0d;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
  }
  .service-cable-management-head-top-content img {
    margin-top: 32px;
    border-radius: 8px;
    overflow: hidden;
  }

  /* Navigations */
  .service-cable-management-head-top-navigate {
    background-color: #ebebeb;
    padding: 0 24px 0 24px;
    border-radius: 12px;
    overflow: hidden;
    height: 317px;
    width: 100%;
    max-width: 530px;
  }
  .service-cable-management-head-top-navigate a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    color: #003066;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #ebebeb;
    padding: 16px 73px 16px 0;
    text-decoration: none;
    border-bottom: 1px solid #dbdbdb;
    white-space: nowrap;
  }

  .service-cable-management-head-top-navigate a:first-child {
    padding: 24px 73px 16px 0;
  }

  .service-cable-management-head-top-navigate a:hover {
    color: #007bff;
  }

  .service-cable-management-content-main {
    display: flex;
    gap: 40px;
    margin: 40px 0 32px;
  }

  .service-cable-management-content-left h1 {
    color: #0d0d0d;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    line-height: 48px;
  }

  .service-cable-management-content-left {
    flex: 0 0 48%;
  }

  .service-cable-management-content-left p {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .service-cable-management-content-right {
    width: 748px;
    height: 466px;
  }

  .service-cable-management-content-right img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .service-cable-management-content-bottom {
    margin-bottom: 40px;
  }

  .service-cable-management-content-bottom p {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 24px;
    width: 101.5%;
  }

  .service-navigate-title {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 16px;
    margin-top: 24px !important;
    white-space: nowrap;
  }

  /* Cable Design */
  .service-cable-design-container {
    padding: 40px 0 60px;
    background-color: #f2f4f7;
    width: 100%;
  }

  .service-cable-design-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1520px;
    margin: 0 auto;
  }

  .service-cable-design-left img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .service-cable-design-right {
    width: 48%;
  }

  .service-cable-design-title {
    color: #0d0d0d;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .service-cable-design-description {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
    margin-bottom: 20px;
  }

  /* Supply - Value */
  .service-cable-supply-container {
    padding: 40px 0;
  }

  .service-cable-supply-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #0d0d0d;
    margin-bottom: 20px;
  }

  .service-cable-supply-description {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .service-cable-supply-images {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-top: 12px;
  }

  .service-cable-supply-image {
    width: 33%;
    height: auto;
    object-fit: cover;
  }

  /* ==== */
  .service-cable-value-container {
    margin: 40px 0 60px;
  }

  .service-cable-value-title {
    font-size: 40px;
    font-weight: 700;
    color: #0d0d0d;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .service-cable-value-description {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
  }

  .service-cable-value-list {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
    padding-left: 20px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
  }

  .service-cable-value-list li {
    margin-bottom: 12px;
    list-style: disc;
  }

  /* Emergency */

  .service-cable-emergency-container {
    padding: 60px 0 80px;
    background-color: #f2f4f7;
    width: 100%;
  }

  .service-cable-emergency-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1520px;
    margin: 0 auto;
  }

  .service-cable-emergency-left {
    min-width: 748px;
    height: 466px;
  }

  .service-cable-emergency-left img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .service-cable-emergency-right {
    width: 49%;
  }

  .service-cable-emergency-title {
    color: #0d0d0d;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .service-cable-emergency-description {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .service-cable-emergency-list {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 24px;
    padding-left: 20px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
  }

  .service-cable-emergency-list li {
    margin-bottom: 12px;
    list-style: disc;
  }

  /* Contact */
  .service-cable-contact-container {
    display: flex;
    background-color: #2c70b9;
    padding: 80px 0;
    height: 274px;
    align-items: center;
    justify-content: space-between;
  }

  .service-cable-contact-left {
    width: 27%;
  }

  .service-cable-contact-title {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    line-height: 48px;
  }

  .service-cable-contact-description {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
  }

  .service-cable-contact-divider {
    margin: 0 20px 0 40px;
    width: 60%;
    border-left: 2px solid #fff;
    padding-left: 40px;
    height: 114px;
    display: flex;
    align-items: center;
  }

  .service-cable-contact-right {
    display: flex;
    align-items: center;
  }

  .service-cable-contact-button {
    padding: 6.2px 20.8px;
    background-color: white;
    color: #3781c3;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
  }

  .service-cable-contact-button:hover {
    opacity: 0.8;
  }

  .custom-list {
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
  }

  .custom-list li {
    display: flex;
    align-items: flex-start; /* Aligns icon and text */
    gap: 8px; /* Space between icon and text */
    margin-bottom: 12px; /* Space between list items */
  }

  .custom-list img {
    flex-shrink: 0; /* Prevents image from shrinking */
    width: 24px;
    height: 24px;
  }

  .custom-list div {
    flex-grow: 1; /* Ensures text takes full width */
  }

  .service-layout-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Responsive */

  @media (max-width: 1580px) {
    .service-cable-management-head-top-content {
      max-width: 100%;
    }

    .service-cable-management-content-bottom p {
      width: 100%;
    }

    .service-cable-design-title,
    .service-cable-emergency-title {
      font-size: 32px;
      line-height: 40px;
    }
    .service-cable-design-content {
      gap: 20px;
    }

    .service-cable-supply-image {
      width: 32%;
    }
    .service-cable-management-header {
      padding: 16px 0;
    }
    .service-layout {
      padding: 0 32px;
    }
    .service-cable-management-head-top {
      flex-direction: column;
      gap: 24px;
      padding: 0;
    }

    .service-layout h1 {
      font-size: 32px;
      line-height: 40px;
    }

    .service-cable-management-content-main {
      flex-direction: column;
      gap: 24px;
    }

    .service-cable-management-content-right {
      width: 100%;
      height: 100%;
    }

    .service-cable-design-content {
      flex-direction: column-reverse;
      padding: 0 32px;
    }

    .service-cable-design-right {
      width: 100%;
    }

    .service-cable-emergency-content {
      flex-direction: column-reverse;
      padding: 0 32px;
    }

    .service-cable-emergency-right {
      width: 100%;
    }

    .service-cable-emergency-left {
      min-width: unset;
    }

    .service-cable-contact-container {
      padding: 0;
      height: fit-content;
    }

    .service-layout-last {
      flex-direction: column;
      gap: 24px;
      padding: 32px;
    }

    .service-cable-contact-left {
      width: 100%;
      text-align: center;
    }
    .service-cable-contact-divider {
      width: 100%;
      margin: 0;
    }
  }
  @media (max-width: 767px) {
    .service-cable-value-list,
    .service-cable-emergency-list {
      display: block;
    }
    .service-cable-supply-container {
      padding: 24px 0 0;
    }
    .service-cable-management-head-top {
      padding: 0;
    }
    .service-cable-design-container {
      padding-bottom: 24px;
    }

    .service-cable-supply-images {
      flex-direction: column;
    }

    .service-cable-supply-image {
      width: 100%;
    }

    .service-cable-design-content {
      gap: 0;
    }

    .service-cable-management-head-top-content p:first-of-type {
      margin-bottom: 16px;
    }

    .service-cable-management-head-top-content {
      padding-top: 0;
    }

    .service-layout {
      padding: 0 16px;
    }
    .service-cable-emergency-content {
      gap: 0px;
    }

    .service-cable-contact-divider {
      height: fit-content;
    }
    .service-layout h1,
    .service-cable-design-title {
      font-size: 24px;
      line-height: 30px;
    }
    .service-layout p,
    li,
    .service-cable-design-description {
      font-size: 14px;
      line-height: 22px;
    }

    .service-cable-emergency-list li {
      font-size: 14px !important;
      line-height: 22px !important;
    }

    .service-cable-emergency-container {
      padding: 24px 0 24px;
    }

    .service-cable-management ul {
      margin: 16px 0 0;
    }

    .service-cable-value-container {
      margin: 24px 0 0px;
    }

    .service-cable-value-list li {
      font-size: 14px !important;
      line-height: 22px !important;
    }

    .custom-list-content {
      font-size: 14px;
      line-height: 22px;
    }

    .service-navigate-title {
      white-space: wrap;
    }

    .service-cable-design-content,
    .service-cable-emergency-content {
      padding: 0 16px;
    }

    .service-cable-design-content,
    .service-cable-emergency-content h1 {
      font-size: 24px;
      line-height: 30px;
    }
    .service-cable-design-content,
    .service-cable-emergency-content p,
    li {
      font-size: 14px;
      line-height: 22px;
    }

    .service-cable-contact-left {
      margin: 24px 24px 0 24px;
    }

    .service-cable-contact-divider {
      width: 100%;
      padding: 0;
      margin: 0;
      border-left: 2px solid #fff;
      padding-left: 20px;
    }

    .service-cable-contact-right {
      margin-bottom: 24px;
    }

    .service-cable-design-container {
      padding-top: 24;
    }

    .service-cable-management-content-bottom {
      margin-bottom: 0;
    }
  }
  .skeleton-loader {
    display: block !important;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 8px;
    min-width: 100%;
    min-height: 100%;
  }
  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
</style>

{% render 'page-title', title: 'Services' %}
<div class="service-cable-management">
  <div class="service-layout">
    {% render 'custom-breadcrumb', paths: 'Services' %}
    <div class="service-cable-management-head-top">
      <div class="service-cable-management-head-top-content" id="product-information-content">
        {% if section.settings.contentOne != blank %}
          {{ section.settings.contentOne }}
        {% endif %}
      </div>
      <div class="service-cable-management-head-top-navigate" id="service-cable-management-head-top-navigate">
        <!-- content -->
        <p class="service-navigate-title">{{ section.settings.titleOne }}</p>
      </div>
    </div>

    <div class="service-cable-management-content-main">
      <!-- Main content area -->
      <div class="service-cable-management-content-left">
        <h1 id="service-page-section-1">{{ section.settings.titleTwo }}</h1>
        {% if section.settings.contentTwo != blank %}
          {{ section.settings.contentTwo }}
        {% endif %}

        <ul class="custom-list">
          {% for block in section.blocks %}
            {% if block.type == 'liOne' %}
              <li>
                <img src="{{ 'icon-check-mark.svg' | asset_url }}" width="24" height="24">
                <div class="custom-list-content">
                  {% if block.settings.content != blank %}
                    {{ block.settings.content }}
                  {% endif %}
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <!-- Sidebar for navigation -->
      <div class="service-cable-management-content-right">
        <div class="skeleton-loader" id="service-cable-management-skeleton"></div>
        {% if section.settings.imageOne != blank %}
          <img
            id="service-cable-management-img"
            src="{{ section.settings.imageOne | image_url }}"
            alt="Delete"
            style="display: none"
            onload="handleImageLoad('service-cable-management-img', 'service-cable-management-skeleton')"
            width="auto"
            height="auto"
          >
        {% endif %}
      </div>
    </div>
    <div class="service-cable-management-content-bottom">
      {% if section.settings.contentThree != blank %}
        {{ section.settings.contentThree }}
      {% endif %}
    </div>
  </div>

  <!-- Cable design -->
  <div class="service-cable-design-container">
    <div class="service-cable-design-content">
      <div class="service-cable-design-left">
        <div class="skeleton-loader" id="service-cable-design-skeleton" style="width: 748px; max-width: 100%"></div>
        {% if section.settings.imageTwo != blank %}
          <img
            id="service-cable-design-img"
            src="{{ section.settings.imageTwo | image_url }}"
            alt="Cable Design & Engineering"
            width="748"
            height="466"
            style="display: none"
            onload="handleImageLoad('service-cable-design-img', 'service-cable-design-skeleton')"
          >
        {% endif %}
      </div>
      <div class="service-cable-design-right">
        <h1 class="service-cable-design-title" id="service-page-section-2">{{ section.settings.titleThree }}</h1>
        {% if section.settings.contentFour != blank %}
          <div>
            {{ section.settings.contentFour | replace: '<p>', '<p class="service-cable-design-description">' }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- supply && value -->
  <div class="service-layout">
    <div class="service-cable-supply-container">
      <h1 class="service-cable-supply-title" id="service-page-section-3">{{ section.settings.titleFour }}</h1>
      {% if section.settings.contentFive != blank %}
        <div>
          {{ section.settings.contentFive | replace: '<p>', '<p class="service-cable-supply-description">' }}
        </div>
      {% endif %}

      <div class="service-cable-supply-images">
        <div
          class="skeleton-loader supply-skeleton"
          id="service-cable-supply-skeleton-1"
          style="width: 499px; height: 498px; min-width: unset !important;"
        ></div>
        <div
          class="skeleton-loader supply-skeleton"
          id="service-cable-supply-skeleton-2"
          style="width: 499px; height: 498px; min-width: unset !important;"
        ></div>
        <div
          class="skeleton-loader supply-skeleton"
          id="service-cable-supply-skeleton-3"
          style="width: 499px; height: 498px; min-width: unset !important;"
        ></div>
        {% if section.settings.imageThree != blank %}
          <img
            id="service-cable-supply-img-1"
            src="{{ section.settings.imageThree | image_url }}"
            alt="Warehouse Image 1"
            class="service-cable-supply-image"
            width="499"
            height="498"
            onload="handleSupplyChainImageLoad('service-cable-supply-img-1')"
            style="display: none"
          >
        {% endif %}
        {% if section.settings.imageFour != blank %}
          <img
            id="service-cable-supply-img-2"
            src="{{ section.settings.imageFour | image_url }}"
            alt="Warehouse Image 2"
            class="service-cable-supply-image"
            width="499"
            height="498"
            onload="handleSupplyChainImageLoad('service-cable-supply-img-2')"
            style="display: none"
          >
        {% endif %}
        {% if section.settings.imageFive != blank %}
          <img
            id="service-cable-supply-img-3"
            src="{{ section.settings.imageFive | image_url }}"
            alt="Warehouse Image 3"
            class="service-cable-supply-image"
            width="499"
            height="498"
            onload="handleSupplyChainImageLoad('service-cable-supply-img-3')"
            style="display: none"
          >
        {% endif %}
      </div>
    </div>
    <div class="service-cable-value-container">
      <h1 class="service-cable-value-title" id="service-page-section-4">{{ section.settings.titleFive }}</h1>
      {% if section.settings.contentSix != blank %}
        <div>
          {{ section.settings.contentSix | replace: '<p>', '<p class="service-cable-value-description">' }}
        </div>
      {% endif %}

      <ul class="service-cable-value-list">
        {% for block in section.blocks %}
          {% if block.type == 'liTwo' %}
            <li>
              {% if block.settings.content != blank %}
                {{ block.settings.content }}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Emergency -->
  <div class="service-cable-emergency-container">
    <div class="service-cable-emergency-content">
      <div class="service-cable-emergency-left">
        <div class="skeleton-loader" id="cable-emergency-skeleton" style="width: 748px; height: 466px;"></div>
        {% if section.settings.imageSix != blank %}
          <img
            id="cable-emergency-img"
            src="{{ section.settings.imageSix | image_url }}"
            alt="Cable Design & Engineering"
            width="748"
            height="466"
            onload="handleImageLoad('cable-emergency-img', 'cable-emergency-skeleton')"
            style="display: none"
          >
        {% endif %}
      </div>
      <div class="service-cable-emergency-right">
        <h1 class="service-cable-emergency-title" id="service-page-section-5">{{ section.settings.titleSix }}</h1>
        {% if section.settings.contentSeven != blank %}
          <div>
            {{ section.settings.contentSeven | replace: '<p>', '<p class="service-cable-emergency-description">' }}
          </div>
        {% endif %}

        <ul class="service-cable-emergency-list">
          {% for block in section.blocks %}
            {% if block.type == 'liThree' %}
              <li>
                {% if block.settings.content != blank %}
                  {{ block.settings.content }}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="service-cable-contact-container">
    <div class="service-layout service-layout-last">
      <div class="service-cable-contact-left">
        <h1 class="service-cable-contact-title">{{ section.settings.titleSeven }}</h1>
      </div>
      <div class="service-cable-contact-divider">
        {% if section.settings.contentEight != blank %}
          <div>
            {{ section.settings.contentEight | replace: '<p>', '<p class="service-cable-contact-description">' }}
          </div>
        {% endif %}
      </div>
      <div class="service-cable-contact-right">
        <a href="{{ section.settings.buttonLinkOne}}" class="service-cable-contact-button">
          {{ section.settings.buttonContentOne }}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Services One",
  "settings": [
    {
      "type": "richtext",
      "id": "contentOne",
      "label": "Content 1",
      "default": "<p>Text here</p>"
    },
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title 1",
      "default": "At AWG, our services can be broken down into four categories:"
    },
    {
      "type": "text",
      "id": "titleTwo",
      "label": "Title 2",
      "default": "Cable Management"
    },
    {
      "type": "richtext",
      "id": "contentTwo",
      "label": "Content 2",
      "default": "<p>Text here</p>"
    },
    {
      "type": "text",
      "id": "titleThree",
      "label": "Title 3",
      "default": "Cable Design & Engineering"
    },
    {
      "type": "richtext",
      "id": "contentThree",
      "label": "Content 3",
      "default": "<p>Text here</p>"
    },
    {
      "type": "image_picker",
      "id": "imageOne",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "imageTwo",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "titleFour",
      "label": "Title 4",
      "default": "Supply Chain"
    },
    {
      "type": "richtext",
      "id": "contentFour",
      "label": "Content 4",
      "default": "<p>Text here</p>"
    },
    {
      "type": "image_picker",
      "id": "imageThree",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "imageFour",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "imageFive",
      "label": "Image 5"
    },
    {
      "type": "text",
      "id": "titleFive",
      "label": "Title 5",
      "default": "Value-Added Services"
    },
    {
      "type": "richtext",
      "id": "contentFive",
      "label": "Content 5",
      "default": "<p>Text here</p>"
    },
    {
      "type": "text",
      "id": "titleSix",
      "label": "Title 6",
      "default": "Emergency Response Services"
    },
    {
      "type": "richtext",
      "id": "contentSix",
      "label": "Content 6",
      "default": "<p>Text here</p>"
    },
    {
      "type": "image_picker",
      "id": "imageSix",
      "label": "Image 6"
    },
    {
      "type": "text",
      "id": "titleSeven",
      "label": "Title 7",
      "default": "Learn More About American Wire Group"
    },
    {
      "type": "richtext",
      "id": "contentSeven",
      "label": "Content 7",
      "default": "<p>Text here</p>"
    },
    {
      "type": "richtext",
      "id": "contentEight",
      "label": "Content 8",
      "default": "<p>Text here</p>"
    },
    {
      "type": "url",
      "id": "buttonLinkOne",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "buttonContentOne",
      "label": "Button Text",
      "default": "Contact Us"
    }
  ],
  "blocks": [
    {
      "type": "navigation",
      "name": "Navigation Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select a navigation menu"
        }
      ]
    },
    {
      "type": "liOne",
      "name": "List Item One",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>List item content</p>"
        }
      ]
    },
    {
      "type": "liTwo",
      "name": "List Item Two",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>List item content</p>"
        }
      ]
    },
    {
      "type": "liThree",
      "name": "List Item Three",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>List item content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services One"
    }
  ]
}
{% endschema %}

<script>
    const navigations = [ ];

  {% for block in section.blocks %}
    {% if block.type == 'navigation' %}
      {% for link in linklists[block.settings.menu].links %}
        navigations.push({
          link: "{{ link.url }}",
          label: "{{ link.title }}",
        });
      {% endfor %}
    {% endif %}
  {% endfor %}

    let supplyChainImgLoaded = [];

    const navigateContainer = document.getElementById('service-cable-management-head-top-navigate');

    if (!navigateContainer) {
    console.error("Error: Navigation container not found!");
    } else {
    navigations.forEach(item => {
    const a = document.createElement('a');
    a.href = item.link; // Directly assign the link
    a.className = 'navigate-link';

    const img = document.createElement('img');
    img.src = "{{ 'icon-curved-arrow.svg' | asset_url }}"; // Ensure correct asset path
    img.alt = "Navigation Arrow";
    img.width = 24;
    img.height = 24;

    const p = document.createElement('p');
    p.textContent = item.label;

    a.appendChild(img);
    a.appendChild(p);

    a.addEventListener('click', function (e) {
    // If the link is for scrolling within the same page (anchors)
    if (item.link.startsWith('#')) {
    e.preventDefault();

    const targetId = item.link.substring(1); // Remove #
    const targetElement = document.getElementById(targetId);

    if (targetElement) {
    const rect = targetElement.getBoundingClientRect();
    const scrollPosition = rect.top + window.pageYOffset - 100; // Adjust for headers

    window.scrollTo({
    top: scrollPosition,
    behavior: 'smooth',
    });
    } else {
    console.warn("Target element not found:", targetId);
    }
    } else {
    // If it's an external link, navigate normally
    window.location.href = item.link;
    }
    });

    navigateContainer.appendChild(a);
    });
    }
    function handleImageLoad(imgId, skeletonId) {
      const skeleton = document.getElementById(skeletonId);
      const img = document.getElementById(imgId);

      if (skeleton && img) {
        skeleton.style.setProperty("display", "none", "important");
        img.style.display = "block";
      }
    }
    function handleSupplyChainImageLoad(imgId) {
      if (!supplyChainImgLoaded.includes(imgId)) supplyChainImgLoaded.push(imgId);
      if (supplyChainImgLoaded.length === 3) {
        const skeletons = document.querySelectorAll(".skeleton-loader.supply-skeleton");
        const imgs = document.querySelectorAll(".service-cable-supply-image");
        skeletons.forEach(skeleton => {
          skeleton.style.setProperty("display", "none", "important");
        });
        imgs.forEach(img => {
          img.style.display = "block";
        })
      }
    }
</script>
