<div class="markets-renewable-energy-supplier-wind-container-bg">
  <div class="markets-renewable-energy-supplier-wind-container container-width">
    <div class="markets-renewable-energy-supplier-wind-content">
      <h1>{{ section.settings.titleOne }}</h1>
      {% if section.settings.contentOne != blank %}
        {{ section.settings.contentOne | replace: '<p>', '<p style="margin-bottom: 36px;"">' }}
      {% endif %}
      <a
        class="markets-renewable-energy-supplier-wind-learnMoreBtn"
        href="{{ section.settings.button_link }}"
      >
        {{ section.settings.button_text }}
      </a>
    </div>
    <div class="markets-renewable-energy-supplier-wind-images">
      {% if section.settings.imageOne != blank %}
        <img
          src="{{ section.settings.imageOne  | image_url }}"
          alt="empty"
          width="428.5"
          height="430"
        >
      {% endif %}
      {% if section.settings.imageTwo != blank %}
        <img
          src="{{ section.settings.imageTwo  | image_url }}"
          alt="empty"
          width="428.5"
          height="430"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Markets Renewable Eleven",
  "settings": [
    {
      "type": "richtext",
      "id": "contentOne",
      "label": "Content 1",
      "default": "<p>Text here</p>"
    },
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title 1",
      "default": "At AWG, our services can be broken down into four categories:"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Label",
      "default": "Learn more"
    },
    {
      "type": "image_picker",
      "id": "imageOne",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "imageTwo",
      "label": "Image 2"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Markets Renewable Eleven"
    }
  ]
}
{% endschema %}

<style>
  .markets-renewable-energy-supplier-wind-learnMoreBtn:hover {
    cursor: pointer;
    background-color: #0056a0 !important;
    color: #fff;
  }

  .markets-renewable-energy-supplier-wind-container-bg {
    width: 100%;
    max-width: 100vw;
    padding: 60px 0;
    background: #2c70b9;
  }

  .markets-renewable-energy-supplier-wind-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1520px;
  }

  .markets-renewable-energy-supplier-wind-content {
    display: flex;
    flex-direction: column;
    /* margin-right: 187px; */
    min-width: 461px;
  }

  .markets-renewable-energy-supplier-wind-content p {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .markets-renewable-energy-supplier-wind-content h1 {
    color: #ffffff !important;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }

  .markets-renewable-energy-supplier-wind-content button {
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #3781c3;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 121px;
    height: 40px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .markets-renewable-energy-supplier-wind-two-columns {
    display: flex;
    margin-bottom: 36px;
  }

  .markets-renewable-energy-supplier-wind-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .markets-renewable-energy-supplier-wind-row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .markets-renewable-energy-supplier-wind-row p {
    white-space: nowrap;
  }

  .markets-renewable-energy-supplier-wind-images {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .markets-renewable-energy-supplier-wind-images img {
    max-width: 430px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }

  .markets-renewable-energy-supplier-wind-images > * {
    flex: 1 1 10%;
  }

  @media (max-width: 1366px) {
    .markets-renewable-energy-supplier-wind-content {
      flex: 1;
      /* margin-right: 187px; */
      min-width: 0;
    }
    .markets-renewable-energy-supplier-wind-images img {
      width: 100%;
      /* Full width on small screens */
      height: auto;
      max-width: 350px;
      object-fit: contain;
    }
  }

  /* Tablet (max-width: 1024px) */
  @media (max-width: 1024px) {
    .markets-renewable-energy-supplier-wind-content p {
      max-width: unset;
      text-align: left;
    }

    .markets-renewable-energy-supplier-wind-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 32px;
    }

    .markets-renewable-energy-supplier-wind-content {
      margin-right: 0;
      margin-bottom: 24px;
      align-items: left;
    }

    .markets-renewable-energy-supplier-wind-images {
      align-items: center;
    }

    .markets-renewable-energy-supplier-wind-images img {
      width: 80%;
      /* Reduce image size */
      height: auto;
    }

    .markets-renewable-energy-supplier-wind-content h1 {
      text-align: left;
    }
  }

  /* Mobile (max-width: 768px) */
  @media (max-width: 768px) {
    .markets-renewable-energy-supplier-wind-container {
      padding: 32px 12px;
    }

    .markets-renewable-energy-supplier-wind-content h1 {
      font-size: 20px;
      line-height: 26px;
    }

    .markets-renewable-energy-supplier-wind-content p {
      font-size: 16px;
      line-height: 20px;
      max-width: 100%;
    }

    .markets-renewable-energy-supplier-wind-content button {
      font-size: 14px;
      padding: 8px 16px;
    }

    .markets-renewable-energy-supplier-wind-content {
      align-items: left;
      min-width: 0;
    }

    .markets-renewable-energy-supplier-wind-images {
      flex-direction: row;
      gap: 6px;
    }

    .markets-renewable-energy-supplier-wind-images img {
      width: 100%;
      /* Full width on small screens */
      height: auto;
      max-width: 350px;
      object-fit: contain;
    }
  }
  @media (max-width: 425px) {
    .markets-renewable-energy-supplier-wind-images {
      flex-direction: column;
    }
    .markets-renewable-energy-supplier-wind-content p {
      font-size: 14px;
    }
  }
</style>
