<div class="markets-renewable-energy-commercial-utility-scale-container-bg">
  <div class="markets-renewable-energy-commercial-utility-scale-container " id="sections-container">
    <h2 class="markets-renewable-energy-commercial-utility-scale-title title-section ">
      {{ section.settings.titleOne }}
    </h2>
  </div>
</div>

<style>
  .markets-renewable-energy-commercial-utility-scale-container-bg {
    width: 100%;
    padding-bottom: 60px;
    background-color: #f2f4f7;
  }
  .markets-renewable-energy-commercial-utility-scale-container {
    max-width: 1520px;
    margin: 0 auto;
  }
  .markets-renewable-energy-commercial-utility-scale-wrapper {
    width: 100%;
  }
  .markets-renewable-energy-commercial-utility-scale-section {
    display: flex;
    align-items: flex-start;
  }

  .markets-renewable-energy-commercial-utility-scale-left {
    width: 100%;
  }

  .markets-renewable-energy-commercial-utility-scale-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .markets-renewable-energy-commercial-utility-scale-right {
    display: flex;
    width: 100%;
    algin-items: flex-start;
  }

  .markets-renewable-energy-commercial-utility-scale-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
    background-color: #f2f4f7;
    padding-bottom: 32px;
    padding-top: 60px;
  }

  .markets-renewable-energy-commercial-utility-scale-description {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    margin-bottom: 36px;
  }

  .markets-renewable-energy-commercial-utility-scale-buttons {
    display: flex;
    justify-content: flex-start;
    /* background-color: #f5f5f5; */
    border-radius: 4px;
    position: relative;
    width: 55%;
    margin-bottom: 24px;
    background-color: #e0e0e0;
  }

  .markets-renewable-energy-commercial-utility-scale-button {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: transparent; */
    background-color: #e0e0e0;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .markets-renewable-energy-commercial-utility-scale-button.active {
    color: #ffffff;
    font-weight: 600;
    background-color: #02448d !important;
  }

  .markets-renewable-energy-commercial-utility-scale-buttons::before {
    content: '';
    position: absolute;
    height: calc(100% - 10px);
    width: 50%;
    border-radius: 4px;
    z-index: 1;
    transition: all 0.3s ease;
    top: 5px;
    left: 5px;
    color: #404040 !important;
    font-weight: 600;
  }

  .markets-renewable-energy-commercial-utility-scale-buttons .highlight {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50%; /* Half of the total width (2 buttons) */
    height: calc(100% - 10px);
    background-color: #02448d;
    border-radius: 4px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .markets-renewable-energy-commercial-utility-scale-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #0d0d0d;
    margin-bottom: 8px;
  }

  .markets-renewable-energy-commercial-utility-scale-content {
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    margin-bottom: 16px;
  }

  .markets-renewable-energy-commercial-utility-scale-learn-more {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #0060cc;
    border: 1px solid #0060cc;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
  }

  .markets-renewable-energy-commercial-utility-scale-learn-more:hover {
    opacity: 0.8;
  }

  .markets-renewable-energy-commercial-utility-scale-content-container {
    padding: 24px;
  }

  /* Tablet (1024px) */
  @media (max-width: 1024px) {
    .markets-renewable-energy-commercial-utility-scale-title {
      padding-left: 32px;
      padding-right: 32px;
    }
    .markets-renewable-energy-commercial-utility-scale-wrapper {
      padding: 32px;
    }
    .markets-renewable-energy-commercial-utility-scale-content-container {
      padding: 0;
      padding-top: 24px;
    }
    .markets-renewable-energy-commercial-utility-scale-section {
      flex-direction: column !important; /* Stack left and right sections */
    }

    .markets-renewable-energy-commercial-utility-scale-left,
    .markets-renewable-energy-commercial-utility-scale-right {
      width: 100%; /* Full width for both sections */
    }

    .markets-renewable-energy-commercial-utility-scale-buttons {
      flex-direction: column; /* Stack buttons vertically */
      width: 100%; /* Make buttons full width */
    }

    .markets-renewable-energy-commercial-utility-scale-learn-more {
      width: 100%; /* Full width button */
      margin-top: 16px; /* Add spacing between buttons */
    }
  }

  /* Mobile (768px) */
  @media (max-width: 768px) {
    .markets-renewable-energy-commercial-utility-scale-title {
      padding-top: 30px;
      padding-top: 0;
    }

    .markets-renewable-energy-commercial-utility-scale-wrapper {
      padding: 0 12px 24px 12px;
    }
    .markets-renewable-energy-commercial-utility-scale-wrapper:last-child {
      padding-bottom: 0;
    }

    .markets-renewable-energy-commercial-utility-scale-buttons {
      flex-direction: column; /* Stack buttons vertically */
      width: 100%; /* Full width for buttons */
    }

    .markets-renewable-energy-commercial-utility-scale-left,
    .markets-renewable-energy-commercial-utility-scale-right {
      width: 100%; /* Full width sections */
    }

    .markets-renewable-energy-commercial-utility-scale-image {
      width: 100%; /* Full width image */
    }

    .markets-renewable-energy-commercial-utility-scale-learn-more {
      width: 100%; /* Full width 'Learn More' button */
      margin-top: 16px; /* Add margin for spacing */
    }

    .markets-renewable-energy-commercial-utility-scale-container {
      padding: 32px 0;
    }

    .markets-renewable-energy-commercial-utility-scale-content-container {
      padding: 24px 0;
    }

    .markets-renewable-energy-commercial-utility-scale-content-container:last-child {
      padding: 24px 0 0 0;
    }
    .markets-renewable-energy-commercial-utility-scale-content-container p {
      font-size: 16px;
    }

    .markets-renewable-energy-commercial-utility-scale-content:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 425px) {
    .markets-renewable-energy-commercial-utility-scale-title {
      line-height: 40px;
    }

    .markets-renewable-energy-commercial-utility-scale-container {
      padding: 15px 0px;
    }

    .markets-renewable-energy-commercial-utility-scale-container-bg {
      padding-bottom: 30px;
    }
  }
</style>

{% schema %}
{
  "name": "Markets Renewable Two",
  "settings": [
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title",
      "default": "Commercial and Utility-Scale Solar Energy Production"
    }
  ],
  "blocks": [
    {
      "type": "text_block_symmetry",
      "name": "Text Block Symmetry",
      "settings": [
        { "type": "text", "id": "Id", "label": "Tab Id" },
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "text", "id": "title", "label": "Title" },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Markets Renewable Two"
    }
  ]
}
{% endschema %}

<script>
  const marketsRenewableEnergyCommercialUtilityScaleData = [];

    {% for block in section.blocks %}
    {% if block.type == 'text_block_symmetry' %}
        marketsRenewableEnergyCommercialUtilityScaleData.push({
      id: "{{ block.settings.Id }}",
      image: "{{  block.settings.image | image_url }}",
      buttons: [
        {
          label: "{{  block.settings.title }}",
        content: `{{ block.settings.content }}`,
        }]
        });
    {% endif %}
{% endfor %}



  // Render Sections from JSON
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('sections-container');

    // Render each section
    marketsRenewableEnergyCommercialUtilityScaleData.forEach((section, index) => {
      const backgroundColor = index % 2 === 0 ? '#F2F4F7' : '#F2F4F7';

      // Tạo một div bọc toàn bộ section
      const wrapperElement = document.createElement('div');
      wrapperElement.className = 'markets-renewable-energy-commercial-utility-scale-wrapper container-width';
      wrapperElement.style.backgroundColor = backgroundColor;

      const mainElement = document.createElement('div');
      mainElement.className = 'markets-renewable-energy-commercial-utility-scale-main';

      const sectionElement = document.createElement('div');
      sectionElement.className = 'markets-renewable-energy-commercial-utility-scale-section sections-container';
      sectionElement.id = section.id;

      // check index to convert attribute of class
      if (index % 2 !== 0) {
        sectionElement.style.flexDirection = 'row-reverse';
      }

            const filteredContent = section.buttons[0].content
  .replace(/<p>/g, '<p class="markets-renewable-energy-commercial-utility-scale-content">');

      sectionElement.innerHTML = `
          <div class="markets-renewable-energy-commercial-utility-scale-left">
            <img src="${section.image}" alt="${section.title}" class="markets-renewable-energy-commercial-utility-scale-image">
          </div>
          <div class="markets-renewable-energy-commercial-utility-scale-right">
            <div class="markets-renewable-energy-commercial-utility-scale-content-container">
              ${filteredContent} <!-- Default content -->
            </div>
          </div>
        `;

      wrapperElement.appendChild(mainElement);
      wrapperElement.appendChild(sectionElement);

      container.appendChild(wrapperElement);
    });

    const sections = document.querySelectorAll('.markets-renewable-energy-commercial-utility-scale-section');

    sections.forEach((section) => {
      const buttons = section.querySelectorAll('.markets-renewable-energy-commercial-utility-scale-button');
      const contentContainer = section.querySelector(
        '.markets-renewable-energy-commercial-utility-scale-content-container'
      );

      buttons.forEach((button, index) => {
        button.addEventListener('click', () => {
          buttons.forEach((btn) => btn.classList.remove('active'));

          button.classList.add('active');

          const contentKey = `${section.id}-${index}`;
          const content = marketsRenewableEnergyCommercialUtilityScaleData.find((s) => s.id === section.id).buttons[
            index
          ].content;

          contentContainer.innerHTML = content;
        });
      });
    });
  });
</script>
