{% render 'page-title', title: 'Services' %}
<div class="service-emergency-response-bg">
  <div class="service-emergency-response">
    <style>
      .service-emergency-response-section-5-content {
        max-width: 1520px;
        margin: 0 auto;
        padding: 24px 32px;
      }
      .service-emergency-response-bg {
        background-color: white;
      }

      .service-emergency-response {
        max-width: 1520px;
        margin: 0 auto;
      }

      .service-emergency-response-header {
        display: flex;
        algin-items: center;
        padding: 20px 0;
      }
      .service-emergency-response-header a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.87);
      }

      .service-emergency-response p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 450;
        color: #0d0d0d;
      }

      .service-emergency-response-head-1 {
        display: flex;
        margin: 28px 0 40px 0;
        width: 100%;
        gap: 28px;
      }

      .service-emergency-response-head-1-section {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .service-emergency-response-head-1-section p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 450;
        color: #0d0d0d;
      }
      .service-emergency-response-head-1-section h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        color: #003066;
        margin-bottom: 20px;
      }

      .service-emergency-response-section-2 {
        display: flex;
        gap: 40px;
        padding: 40px 0;
      }

      .service-emergency-response-section-2-right {
        /* min-width: 748px; */
        display: flex;
        justify-content: center;
      }
      .service-emergency-response-section-2-right img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      .service-emergency-response-section-2-left {
        width: 100%;
      }
      .service-emergency-response-section-2-left h1 {
        white-space: nowrap;
      }
      .service-emergency-response h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        color: #0d0d0d;
        margin-bottom: 20px;
      }
      .service-emergency-response p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 450;
        color: #0d0d0d;
        margin-bottom: 16px;
      }

      .service-emergency-response-section-2-left ul {
        columns: 2;
        column-gap: 20px;
        list-style-type: disc;
        padding-left: 30px;
      }

      .service-emergency-response-section-2-left li {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 8px;
        color: #0d0d0d;
      }

      .service-emergency-response-section-3 {
        padding: 40px 0 60px;
      }

      .service-emergency-response-section-3 p:last-child {
        margin-bottom: 0;
      }

      .service-emergency-response-section-4 {
        padding: 40px 0 60px;
      }

      .service-emergency-response-section-4-marked {
        background-color: #f2f4f7;
        padding: 20px 24px;
        font-size: 24px !important;
        line-height: 36px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #0d0d0d;
        border-radius: 8px;
        margin: 20px 0 0 0 !important;
      }

      .service-emergency-response-section-5-bg {
        background-color: #2c70b9;
        padding: 80px 0;
      }

      .service-emergency-response-section-5 {
        max-width: 1520px;
        margin: 0 auto;
      }

      .service-emergency-response-section-5 h1 {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
        max-width: 397px;
      }
      .service-emergency-response-section-5-head p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 450;
        color: white;
        border-left: 2px solid white;
        padding-left: 40px;
        margin: 0 0 0 40px;
        display: flex;
        align-items: center;
        max-width: 961px;
      }

      .service-emergency-response-section-5-head {
        display: flex;
        color: white;
        margin-bottom: 48px;
      }

      .service-emergency-response-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
      }

      .service-emergency-response-list-item {
        border: 1px solid white;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        border-radius: 4px;
        max-height: 286px;
      }
      .service-emergency-response-list-item img {
        max-width: 140px;
        min-height: 140px;
      }
      .service-emergency-response-list-item p {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        color: #ebebeb;
        text-decoration: underline;
        margin-top: 36px;
      }
      .service-emergency-response-list-item p:hover {
        opacity: 50%;
      }
      @media (max-width: 1580px) {
        .service-emergency-response {
          padding: 0 32px;
        }

        .service-emergency-response-section-2 {
          flex-direction: column;
        }

        .service-emergency-response-section-2-left h1 {
          white-space: normal;
        }
        .service-emergency-response-section-2-right {
          min-width: unset;
        }
        .service-emergency-response-tabs {
          width: 100% !important;
        }
        .service-emergency-response h1 {
          font-size: 32px;
          line-height: 40px;
        }
        .service-emergency-response p {
          font-size: 16px !important;
          line-height: 24px !important;
        }

        .service-emergency-response-head-1 {
          flex-direction: column;
          margin: 28px 0 0 0;
        }
        .service-emergency-response-section-2 {
          padding: 40px 0 0;
        }

        .service-emergency-response-section-3 {
          padding: 40px 0 0;
        }

        .service-emergency-response-section-5 h1 {
          font-size: 32px;
          line-height: 40px;
          max-width: unset;
        }

        .service-emergency-response-section-5-head {
          flex-direction: column;
          align-items: center;
        }

        .service-emergency-response-list {
          flex-direction: column;
          padding: 0;
        }

        /* .service-emergency-response-section-5-bg {
                padding: 24px 32px;
            } */
      }
      @media (max-width: 767px) {
        .service-emergency-response {
          padding: 0 16px;
        }

        .service-emergency-response-section-5-content {
          padding: 0;
        }
        .service-emergency-response h1 {
          font-size: 24px;
          line-height: 30px;
        }
        .service-emergency-response p,
        li {
          font-size: 14px !important;
          line-height: 22px !important;
        }
        .service-emergency-response-section-2-left ul {
          columns: 1;
        }
        .service-emergency-response-section-5 h1 {
          font-size: 24px;
          line-height: 30px;
        }
        .service-emergency-response-section-5-bg {
          padding: 20px 16px;
        }

        .service-emergency-response-list {
          padding: 0;
        }
        .service-emergency-response-section-5-head p {
          margin: 0;
        }
        .service-emergency-response-head-1-section h2 {
          font-size: 16px;
          line-height: 24px;
        }
      }
    </style>
    {% render 'custom-breadcrumb',
      paths: 'Services, Emergency Response Services',
      urls: '/pages/cable-management, /pages/emergency-response-services'
    %}

    <div style="margin: 0 0 28px 0 ">
      {% if section.settings.contentOne != blank %}
        {{ section.settings.contentOne }}
      {% endif %}
    </div>
    <div class="service-emergency-response-head-1">
      <div class="service-emergency-response-head-1-section">
        <h2>{{ section.settings.titleOne }}</h2>
        {% if section.settings.contentTwo != blank %}
          {{ section.settings.contentTwo }}
        {% endif %}
      </div>
      <div class="service-emergency-response-head-1-section">
        <h2>{{ section.settings.titleTwo }}</h2>
        {% if section.settings.contentThree != blank %}
          {{ section.settings.contentThree }}
        {% endif %}
      </div>
    </div>

    <div class="service-emergency-response-section-2">
      <div class="service-emergency-response-section-2-left">
        <h1>{{ section.settings.titleThree }}</h1>
        {% if section.settings.contentFour != blank %}
          {{ section.settings.contentFour }}
        {% endif %}
        <ul>
          {% for block in section.blocks %}
            {% if block.type == 'liOne' %}
              <li>
                {% if block.settings.content != blank %}
                  {{ block.settings.content }}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="service-emergency-response-section-2-right">
        <div class="service-emergency-response-tabs">
          <div class="service-emergency-response-tabs-container">
            {% for block in section.blocks %}
              {% if block.type == 'slider_img' %}
                {% if block.settings.image != blank %}
                  <img
                    class="service-emergency-response-tab"
                    src="{{  block.settings.image  | image_url }}"
                    alt="empty"
                    width="300px"
                    height="300px"
                  >
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          <div class="service-emergency-response-tabs-navigator" id="service-emergency-response-tabs-navigator">
            {% for block in section.blocks %}
              {% if block.type == 'slider_img' %}
                <div
                  class="service-emergency-response-tabs-navigator-dot"
                  id="dot-{{ forloop.index0 }}"
                  onClick="chooseTab('{{ forloop.index0 }}')"
                ></div>
              {% endif %}
            {% endfor %}
          </div>

          <style>
            .service-emergency-response-tabs {
              width: 100%;
              height: 466px;
              border-radius: 8px;
              overflow: hidden;
              position: relative;
            }

            .service-emergency-response-tabs-container {
              display: flex;
              width: 500%;
              transition: transform 0.5s ease-in-out;
              height: 100%;
            }

            .service-emergency-response-tabs-container img {
              width: 748px;
              height: 100%;
              flex-shrink: 0;
            }

            .service-emergency-response-tabs-navigator {
              position: absolute;
              display: flex;
              gap: 6px;
              width: 64px;
              height: 8px;
              transform: translateX(-50%);
              bottom: 16px;
              left: 50%;
              z-index: 1;
            }

            .service-emergency-response-tabs-navigator-dot {
              display: block !important;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              background-color: white;
              opacity: 50%;
              cursor: pointer;
              transition: opacity 0.3s;
            }
            .service-emergency-response-tabs-navigator-dot.active {
              opacity: 1;
              background-color: white;
            }
          </style>

          <script>
            let currentTab = 0;
            let autoSwitch;

            function chooseTab(tabIndex) {
              currentTab = parseInt(tabIndex - 3, 10);
              updateSlider();
              resetAutoSwitch();
            }

            function updateSlider() {
              const container = document.querySelector('.service-emergency-response-tabs');
              if (!container) return;

              let width = container.offsetWidth;

              if (typeof currentTab === 'undefined') {
                console.warn('currentTab is not defined');
                return;
              }

              const tab = document.querySelector('.service-emergency-response-tabs-container');
              if (tab) {
                tab.style.transform = `translateX(-${currentTab * width}px)`;
              }

              document.querySelectorAll('.service-emergency-response-tabs-navigator-dot').forEach((dot, index) => {
                dot.classList.toggle('active', index === currentTab);
              });
            }

            function startAutoSwitch() {
              autoSwitch = setInterval(() => {
                currentTab = (currentTab + 1) % 5;
                updateSlider();
              }, 3000);
            }

            function resetAutoSwitch() {
              clearInterval(autoSwitch);
              startAutoSwitch();
            }

            document.addEventListener('DOMContentLoaded', () => {
              const container = document.querySelector('.service-emergency-response-tabs');
              if (!container) return;

              let width = container.offsetWidth;

              const tabImg = document.querySelectorAll('.service-emergency-response-tab');
              tabImg.forEach((tab) => {
                tab.style.width = `${width}px`;
              });

              updateSlider();
              startAutoSwitch();
            });
          </script>
        </div>
      </div>
    </div>

    <div class="service-emergency-response-section-3">
      <h1>{{ section.settings.titleFour }}</h1>
      {% if section.settings.contentFive != blank %}
        {{ section.settings.contentFive }}
      {% endif %}
    </div>

    <div class="service-emergency-response-section-4">
      <h1>{{ section.settings.titleFive }}</h1>

      {% if section.settings.contentSix != blank %}
        {{ section.settings.contentSix }}
      {% endif %}
      {% if section.settings.contentSeven != blank %}
        <div>
          {{
            section.settings.contentSeven
            | replace: '<p>', '<p class="service-emergency-response-section-4-marked">'
          }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="service-emergency-response-section-5-bg">
  <div class="service-emergency-response-section-5-content">
    <div class="service-emergency-response-section-5">
      <div class="service-emergency-response-section-5-head">
        <h1>{{ section.settings.titleSix }}</h1>
        {% if section.settings.contentEight != blank %}
          {{ section.settings.contentEight }}
        {% endif %}
      </div>
      <div class="service-emergency-response-list">
        {% for block in section.blocks %}
          {% if block.type == 'image_text' %}
            <a href="{{ block.settings.link | image_url }}" class="service-emergency-response-list-item">
              <img src="{{ block.settings.image | image_url }}" alt="empty" width="200px" height="250px">
              <p>{{ block.settings.title }}</p>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Emergency page",
  "settings": [
    { "type": "richtext", "id": "contentOne", "label": "Content 1", "default": "<p>Text here</p>" },
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title 1",
      "default": "At AWG, our emergency response capabilities set us apart from our competition."
    },
    {
      "type": "text",
      "id": "titleTwo",
      "label": "Title 2",
      "default": "We work with these critical clients around the clock until power or service has been fully restored."
    },
    { "type": "richtext", "id": "contentTwo", "label": "Content 2", "default": "<p>Text here</p>" },
    { "type": "text", "id": "titleThree", "label": "Title 3", "default": "Our Inventory is Ready to Deliver in Days" },
    { "type": "richtext", "id": "contentThree", "label": "Content 3", "default": "<p>Text here</p>" },
    { "type": "richtext", "id": "contentFour", "label": "Content 4", "default": "<p>Text here</p>" },
    { "type": "text", "id": "titleFour", "label": "Title 4", "default": "Hurricane Beryl" },
    { "type": "richtext", "id": "contentFive", "label": "Content 5", "default": "<p>Text here</p>" },
    { "type": "text", "id": "titleFive", "label": "Title 5", "default": "Hurricane Sandy" },
    { "type": "richtext", "id": "contentSix", "label": "Content 6", "default": "<p>Text here</p>" },
    { "type": "text", "id": "titleSix", "label": "Title 6", "default": "Learn More About American Wire Group" },
    { "type": "richtext", "id": "contentSeven", "label": "Content 7", "default": "<p>Text here</p>" },
    { "type": "richtext", "id": "contentEight", "label": "Content 8", "default": "<p>Text here</p>" }
  ],
  "blocks": [
    {
      "type": "liOne",
      "name": "List Item One",
      "settings": [{ "type": "richtext", "id": "content", "label": "Content" }]
    },
    {
      "type": "image_text",
      "name": "Image with Text",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "text", "id": "title", "label": "Title" },
        { "type": "url", "id": "link", "label": "Link" }
      ],
      "limit": 3
    },
    {
      "type": "slider_img",
      "name": "Image For slider",
      "settings": [{ "type": "image_picker", "id": "image", "label": "Image" }],
      "limit": 5
    }
  ],
  "presets": [{ "name": "Emergency page" }]
}
{% endschema %}
