<div class="markets-renewable-energy-about-container">
  <div class="markets-renewable-energy-about-content-container">
    <div class="markets-renewable-energy-about-content">
      <h1 class="markets-renewable-energy-about-title title-section">{{ section.settings.titleOne }}</h1>
      {% if section.settings.contentOne != blank %}
        <div>
          {{
            section.settings.contentOne
            | replace: '<p>', '<article  class="markets-renewable-energy-about-subtitle">'
            | replace: '</p>', '</article>'
          }}
        </div>
      {% endif %}
      <div class="markets-renewable-energy-about-btns ">
        <a href="{{ section.settings.button_link_one }}">
          <button class="markets-renewable-energy-about-one btn-height" style="cursor: pointer">
            {{ section.settings.button_text_one }}
          </button>
        </a>
        <a href="{{ section.settings.button_link_two }}">
          <button class="markets-renewable-energy-about-two btn-height" style="cursor: pointer">
            {{ section.settings.button_text_two }}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Markets Renewable Sixten",
  "settings": [
    {
      "type": "text",
      "id": "titleOne",
      "label": "Title 1",
      "default": "Renewable Energy Wire & Cable Products"
    },
    {
      "type": "richtext",
      "id": "contentOne",
      "label": "Content 1",
      "default": "<p>Text Here</p>"
    },
    {
      "type": "text",
      "id": "button_text_one",
      "label": "Buton Text 1",
      "default": "View our catalog"
    },
    {
      "type": "url",
      "id": "button_link_one",
      "label": "Buton Link 1"
    },
    {
      "type": "text",
      "id": "button_text_two",
      "label": "Buton Text 2",
      "default": "Contact Us"
    },
    {
      "type": "url",
      "id": "button_link_two",
      "label": "Buton Link 2"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Markets Renewable Sixten"
    }
  ]
}
{% endschema %}

<style>
  .markets-renewable-energy-about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .markets-renewable-energy-about-content-container {
    width: 100%;
    padding: 84px 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('{{ "iso9001_bg.png" | asset_url }}');
    background-position: center;
    background-size: cover;
  }

  .markets-renewable-energy-about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;

    padding: 40px 140px;

    background: #003066;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    diplay: block;
  }

  .markets-renewable-energy-about-title {
    margin-block-start: 0;
    margin-block-end: 0;

    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    max-width: 396px;
  }

  .markets-renewable-energy-about-subtitle {
    width: 776px;
    margin: 12px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }

  .markets-renewable-energy-about-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .markets-renewable-energy-about-btns {
    display: flex;
    gap: 24px;
    margin-top: 24px;
  }

  .markets-renewable-energy-about-one {
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    min-width: 173px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    background-color: #3781c3;
    color: white;
  }

  .markets-renewable-energy-about-one:hover,
  .markets-renewable-energy-about-two:hover {
    background-color: #0056a0 !important;
    color: #fff !important;
  }

  .markets-renewable-energy-about-two {
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    min-width: 127px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    background-color: white;
    color: #3781c3;
  }

  @media (max-width: 1024px) {
    .markets-renewable-energy-about-content-container {
      padding: 32px;
    }

    .markets-renewable-energy-about-content {
      padding: 16px;
    }

    .markets-renewable-energy-about-title {
      font-size: 28px;
      max-width: 100%;
    }

    .markets-renewable-energy-about-subtitle {
      width: 100%;
      font-size: 16px;
    }

    .markets-renewable-energy-about-btns {
      gap: 16px;
    }

    .markets-renewable-energy-about-one,
    .markets-renewable-energy-about-two {
      min-width: 150px;
    }
  }

  /* Mobile (max-width: 768px) */
  @media (max-width: 768px) {
    .markets-renewable-energy-about-content {
      padding: 16px;
    }

    .markets-renewable-energy-about-content-container {
      padding: 32px 12px;
    }

    .markets-renewable-energy-about-title {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }

    .markets-renewable-energy-about-subtitle {
      width: 100%;
      font-size: 16px;
      text-align: center;
      padding: 0 20px;
    }

    .markets-renewable-energy-about-btns {
      gap: 20px;
      justify-content: center;
      flex-direction: flex;
    }

    .markets-renewable-energy-about-one,
    .markets-renewable-energy-about-two {
      width: 100%;
      padding: 8px 18px;
      font-size: 16px;
    }
  }
  @media (max-width: 425px) {
    .markets-renewable-energy-about-subtitle {
      font-size: 14px;
    }
    .markets-renewable-energy-about-btns {
      flex-direction: row;
    }
    .markets-renewable-energy-about-one,
    .markets-renewable-energy-about-two {
      font-size: 14px;
      white-space: normal;
    }
  }
  @media (max-width: 375px) {
    .btn-height {
      height: 50px;
    }
  }
</style>
